body {
   padding-top: 5px;
   background-color: #E0E0E0;
}

.wrapper {
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid black;
   width: 50%;
   height: 50%;
}
